* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "SF Pro Display", sans-serif;
}

#navbar {
	width: 100%;
	height: 70px;
	background-color: #171719;
	position: fixed;
	top: 0;
	z-index: 999;
	padding: 20px 72px;
}

#navbar nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.platform-logo a {
	color: #d5cdff;
	text-decoration: none;
	font-size: 28px;
}

.platform-logo a span,
.platform-logo p span {
	color: #5d60ef;
}

#profile {
	display: flex;
	align-items: center;
}

.user-avatar {
	object-fit: contain;
	border-radius: 50%;
}

#content {
	display: grid;
	grid-template-columns: 0.3fr 1fr;
	grid-template-rows: repeat(2, auto);
	grid-template-areas:
		"head head"
		"categories main";
	row-gap: 20px;
	column-gap: 10px;
	margin-top: 70px;
	background-color: #2a1886;
	height: fit-content;
}

#head {
	grid-area: head;
	padding: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 4px;
	background-color: #5d60ef;
}

#welcome h1 {
	color: #2c42a8;
}

#welcome h1 span {
	color: #d5cdff;
}

#reminder {
	color: rgba(204, 204, 204, 0.7);
}

#tasks-incomplete {
	color: #ebb901;
}

#tracker {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #171719;
	border: none;
	border-radius: 50%;
}

#tracker .platform-logo p {
	font-size: 64px;
	color: #d5cdff;
}

#tracker #days {
	width: 75%;
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		"complete ."
		"line line"
		". incomplete";
}

#completed {
	grid-area: complete;
	text-align: end;
}

#incomplete {
	grid-area: incomplete;
	text-align: start;
}

#completed,
#incomplete {
	color: #5d60ef;
}

hr {
	grid-area: line;
	border: none;
	outline: none;
	width: 100%;
	height: 8px;
	border-radius: 10px;
	background-color: #d5cdff;
	margin: 0 auto;
	transform: rotate(-30deg);
}

#categories-tab {
	grid-area: categories;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 550px;
	max-height: 100%;
	padding: 20px;
	background-color: #0c0c0c;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.category p {
	font-size: 18px;
}

#add-category p {
	font-size: 16px;
}

#category-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	max-height: 350px;
	margin: 20px auto;
	width: 100%;
	padding: 0 8px;
	overflow-y: auto;
}

#category-list::-webkit-scrollbar {
	width: 4px;
}

#main::-webkit-scrollbar {
	width: 6px;
}

#main::-webkit-scrollbar-thumb,
#category-list::-webkit-scrollbar-thumb {
	background-color: #5d60ef;
	border-radius: 4px;
}

#main::-webkit-scrollbar-track,
#category-list::-webkit-scrollbar-track {
	background-color: #4a505c;
	border-radius: 4px;
}

#main::-webkit-scrollbar-thumb:hover,
#category-list::-webkit-scrollbar-thumb:hover {
	background-color: #2c42a8;
}

#add-category {
	margin: 0 auto;
	border: 3px dashed #4a505c;
	background-color: rgba(23, 23, 25, 0.7);
	width: calc(100% - 16px);
}

.category {
	border: 1px solid #1d1d1d;
	flex-shrink: 0;
}

.category,
#add-category {
	display: flex;
	align-items: center;
	height: 50px;
	font-size: 20px;
	background-color: #171719;
	gap: 8px;
	border-radius: 6px;
	cursor: pointer;
}

.category,
#add-category,
#user-info {
	color: #fff;
	padding: 8px;
}

#user-info {
	display: flex;
	gap: 12px;
	align-items: center;
}

#user-info p {
	font-size: 16px;
	font-weight: 400;
}

#user-info p:first-child {
	font-weight: 700;
	font-size: 20px;
}

#main {
	grid-area: main;
	background-color: #d5cdff;
	height: 550px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 28px;
	overflow-y: auto;
}

#status-column {
	width: fit-content;
	display: flex;
	background-color: transparent;
	margin-bottom: 16px;
	position: sticky;
	top: 0;
	background-color: #d5cdff;
	border-radius: 8px;
}

#todo,
#done {
	display: flex;
	align-items: center;
	gap: 4px;
	cursor: pointer;
	padding: 10px 12px;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

#status-column h3 {
	font-size: 16px;
	font-weight: 700;
	color: #2b1887;
}

.tab.active,
.category.active {
	background-color: #5d60ef !important;
	transition: 0.5s;
}

#tasks-area {
	display: flex;
	flex-wrap: wrap;
	column-gap: 8px;
	row-gap: 12px;
	width: 100%;
	overflow-y: auto;
}

.checkbox-wrapper-42 {
	display: flex;
	align-items: center;
	gap: 8px;
}

.checkbox-wrapper-42 input[type="checkbox"] {
	display: none;
	visibility: hidden;
}

.checkbox-wrapper-42 label {
	display: inline-block !important;
}

.checkbox-wrapper-42 .cbx {
	position: relative;
	top: 1px;
	width: 16px;
	height: 16px;
	border: 1px solid #4a505c;
	border-radius: 3px;
	vertical-align: middle;
	transition: background 0.1s ease;
	cursor: pointer;
}

.checkbox-wrapper-42 .cbx:after {
	content: "";
	position: absolute;
	top: 1px;
	left: 5px;
	width: 5px;
	height: 11px;
	opacity: 0;
	transform: rotate(45deg) scale(0);
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transition: all 0.3s ease;
	transition-delay: 0.15s;
}

.checkbox-wrapper-42 p {
	vertical-align: middle;
}

.checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx {
	border-color: transparent;
	background: #6871f1;
	animation: jelly-42 0.6s ease;
}

.checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx:after {
	opacity: 1;
	transform: rotate(45deg) scale(1);
}

.checkbox-wrapper-42 .cntr {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
}

@-moz-keyframes jelly-42 {
	from {
		transform: scale(1, 1);
	}
	30% {
		transform: scale(1.25, 0.75);
	}
	40% {
		transform: scale(0.75, 1.25);
	}
	50% {
		transform: scale(1.15, 0.85);
	}
	65% {
		transform: scale(0.95, 1.05);
	}
	75% {
		transform: scale(1.05, 0.95);
	}
	to {
		transform: scale(1, 1);
	}
}

@-webkit-keyframes jelly-42 {
	from {
		transform: scale(1, 1);
	}
	30% {
		transform: scale(1.25, 0.75);
	}
	40% {
		transform: scale(0.75, 1.25);
	}
	50% {
		transform: scale(1.15, 0.85);
	}
	65% {
		transform: scale(0.95, 1.05);
	}
	75% {
		transform: scale(1.05, 0.95);
	}
	to {
		transform: scale(1, 1);
	}
}

@-o-keyframes jelly-42 {
	from {
		transform: scale(1, 1);
	}
	30% {
		transform: scale(1.25, 0.75);
	}
	40% {
		transform: scale(0.75, 1.25);
	}
	50% {
		transform: scale(1.15, 0.85);
	}
	65% {
		transform: scale(0.95, 1.05);
	}
	75% {
		transform: scale(1.05, 0.95);
	}
	to {
		transform: scale(1, 1);
	}
}

@keyframes jelly-42 {
	from {
		transform: scale(1, 1);
	}
	30% {
		transform: scale(1.25, 0.75);
	}
	40% {
		transform: scale(0.75, 1.25);
	}
	50% {
		transform: scale(1.15, 0.85);
	}
	65% {
		transform: scale(0.95, 1.05);
	}
	75% {
		transform: scale(1.05, 0.95);
	}
	to {
		transform: scale(1, 1);
	}
}

.priority-level {
	position: relative;
	width: 100%;
}

#selected {
	cursor: pointer;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
}

#selected p {
	font-weight: 500;
}

#selected:focus {
	border-color: #4f9e86;
	outline: none;
}

#options {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 93%;
	max-height: 200px;
	z-index: 1000;
	margin-top: 5px;
	border-radius: 4px;
	color: #4a505c;
	overflow-y: auto;
}

.option {
	font-weight: 500;
	padding: 4px;
	cursor: pointer;
}

.option:hover {
	background-color: #5d60ef;
	color: #d5cdff;
}

#options.show {
	display: block;
}

.cta-button {
	height: 30px;
	display: flex;
	gap: 4px;
	margin-top: auto;
}

.cta-button button {
	border: none;
	outline: none;
	padding: 4px 8px;
	color: #fff;
	font-size: 16px;
	padding: 4px 8px;
	background-color: #e42c5e;
	border-radius: 4px;
	width: fit-content;
	cursor: pointer;
}

.cta-button button:first-of-type {
	background-color: #5d60ef;
}

.hide {
	display: none;
}

.show {
	display: block;
}

#add-task-modal,
#add-category-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

#add-task-modal.show,
#add-category-modal.show {
	display: flex;
}

#add-category-modal .modal-content .cta-button {
	display: flex;
	justify-content: flex-end;
	margin-top: 8px;
}

#add-task-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #5d60ef;
	color: #fff;
	border: none;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 24px;
	display: none;
}

.modal-content {
	position: relative;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	width: 576px;
	height: fit-content;
	max-height: 100%;
	display: flex;
	flex-direction: column;
}

#add-category-modal .modal-content {
	width: 400px;
}

#add-category-modal .modal-content > #category-name-input.error::after {
	content: "Category name already exists";
}

#add-category-modal .modal-content > #category-name-input.error-contain-whitespace::after {
	content: "Category name cannot contain whitespace";
}

#add-task-modal .modal-content > div:not(:last-child) {
	margin-bottom: 16px;
}

#add-task-modal .modal-content > div:not(.checkbox-wrapper-42):not(.cta-button).error::after {
	content: "Please fill out this field";
}

#add-task-modal .modal-content > #priority-level-selection.error::after {
	content: "Please select a priority level";
}

#add-task-modal .modal-content > div:not(.checkbox-wrapper-42):not(.cta-button).error::after,
#add-category-modal .modal-content > #category-name-input.error::after,
#add-category-modal .modal-content > #category-name-input.error-contain-whitespace::after {
	font-size: 12px;
	color: #e42c5e;
	font-weight: 700;
}

#add-task-modal .modal-content label:not(.cbx):after,
#priority-level-selection > p::after {
	content: "*";
	color: #e42c5e;
	margin-left: 4px;
}

.modal-content label,
#priority-level-selection,
.checkbox-wrapper-42 p,
#tasks-area > p {
	color: #65767e;
}

#tasks-area > p {
	font-size: 16px;
}

.task-card {
	display: flex;
	flex-direction: column;
	width: 275px;
	height: 175px;
	padding: 12px;
	background-color: #fff;
	border-radius: 10px;
	cursor: pointer;
}

.task-card:hover {
	transform: scale(0.95);
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.task-card.no-hover {
	transform: none;
	box-shadow: none;
}

.task-card.hidden {
	transform: translateY(-10px);
	opacity: 0;
	pointer-events: none;
}

.delete-task-modal {
	position: absolute;
	display: none;
	align-items: center;
	gap: 6px;
	color: #e42c52;
	width: 100px;
	height: fit-content;
	padding: 10px;
	background-color: #0c0c0c;
	border-radius: 5px;
	z-index: 10;
	cursor: pointer;
}

#add-task {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	flex: 1 1 calc(33% - 24px);
	max-width: calc(33% - 3px);
	height: 175px;
	border-radius: 10px;
	background: rgba(74, 80, 92, 0.2);
	border: 3px dashed #5d60ef;
	color: #1d1d1d;
	cursor: pointer;
}

#no-tasks {
	display: none;
	text-align: center;
}

#task-due-date {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	border: none;
	padding: 8px 0;
	border-bottom: 2px solid #d5cdff;
	font-size: 16px;
	background: transparent;
	color: #1d1d1d;
}

#task-due-date::-webkit-calendar-picker-indicator {
	background: url("../assets/calendar-icon.svg") center center/cover no-repeat;
	opacity: 1;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

#task-title:focus,
#task-description:focus,
#task-due-date:focus {
	border-color: #5d60ef;
	outline: none;
}

#task-title,
#task-description,
#category-name {
	width: 100%;
	border: 2px solid #d5cdff;
	background-color: transparent;
	outline: none;
	border-radius: 4px;
	padding: 8px;
	color: #4a505c;
}

#task-title::placeholder,
#task-description::placeholder,
#task-due-date,
#selected {
	color: #ccc;
}

#task-title,
#task-description,
#task-due-date,
#selected p,
.option {
	font-size: 14px;
}

#task-description {
	height: 150px;
	resize: none;
}

.head {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto;
	grid-template-areas: "task-title options-icon" "task-status .";
	row-gap: 4px;
}

.head ion-icon {
	cursor: pointer;
	font-size: 12px;
	height: 100%;
}

.task-title {
	font-size: 14px;
}

.task-status {
	font-size: 10px;
	font-weight: 700;
	background-color: rgba(217, 217, 217, 0.5);
	padding: 4px;
	border-radius: 4px;
	width: fit-content;
}

.task-status.late {
	color: #e42c5e;
}

.task-status.on-track {
	color: #4f9e86;
}

.description {
	font-size: 12px;
	color: #4a505c;
	display: -webkit-box;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 12px;
}

.task-details {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-top: 12px;
}

.due-date {
	width: 40px;
	padding: 6px;
	border-radius: 6px;
	text-align: center;
	background-color: #e42c5e;
}

.due-date p {
	font-size: 12px;
	color: #fff;
}

.priority-level-bar {
	display: flex;
	gap: 4px;
}

.bar {
	width: 24px;
	height: 12px;
	background-color: #d9d9d9;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.high {
	background-color: #e42c5e;
}

.medium {
	background-color: #f7b500;
}

.low {
	background-color: #2c43a3;
}

.foot {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 4px;
	margin-top: auto;
}

.foot p {
	font-size: 12px;
	color: #4a505c;
}

.checkbox-wrapper-23 {
	border: 2px solid #5d60ef;
	border-radius: 6px;
}
.checkbox-wrapper-23 * {
	cursor: pointer;
}

.checkbox-wrapper-23 input {
	position: absolute;
	opacity: 0;
}

.checkbox-wrapper-23 input:checked + label svg path {
	stroke-dashoffset: 0;
}

.checkbox-wrapper-23 input + label {
	display: block;
	width: 16px;
	height: 16px;
	transition: all 0.2s ease;
}

.checkbox-wrapper-23 input + label svg {
	pointer-events: none;
	padding: 8%;
}

.checkbox-wrapper-23 input + label svg path {
	fill: none;
	stroke: #5d60ef;
	stroke-width: 6px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	transition: all 250ms cubic-bezier(1, 0, 0.37, 0.91);
}

footer {
	height: 50px;
	background-color: #171719;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-heart {
	position: relative;
	text-align: center;
	font-family: open sans, sans-serif;
	color: #5d60ef;
}

.footer-heart a {
	color: #d5cdff;
	text-decoration: none;
}

.footer-heart a:hover {
	color: #ffffff;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%235d60ef' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 30%;
	border-bottom: 0;
	padding-bottom: 0.3em;
	text-decoration: none;
}

.emoji {
	vertical-align: middle;
}

@media screen and (min-width: 320px) {
	main#content {
		padding: 0;
	}

	#welcome h1 {
		font-size: 22px;
	}

	#reminder {
		font-size: 14px;
	}

	#add-task,
	.task-card {
		flex: 1 1 100%;
		max-width: 100%;
	}

	#add-task-button {
		display: block;
	}

	#navbar {
		padding: 20px 8px;
	}

	#tracker {
		width: 175px;
		height: 175px;
	}
}

@media screen and (min-width: 360px) {
	#welcome h1 {
		font-size: 24px;
	}

	#reminder {
		font-size: 16px;
	}
}

@media screen and (max-width: 576px) {
	#tracker .platform-logo p {
		font-size: 40px;
	}

	#completed,
	#incomplete {
		font-size: 64px;
	}

	#add-task {
		visibility: hidden;
		display: none;
	}

	.delete-task-modal {
		left: 285px !important;
	}

	.description {
		display: none;
	}

	.task-card {
		height: fit-content;
	}
}

@media screen and (max-width: 768px) {
	#navbar {
		padding: 20px 12px;
	}

	#tracker .platform-logo p {
		font-size: 48px;
	}

	#completed,
	#incomplete {
		font-size: 64px;
	}

	#content {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"head"
			"categories"
			"main";
		padding: 24px 12px;
		gap: 0;
	}

	#head,
	#categories-tab,
	#main {
		border-radius: 0;
	}

	#head {
		padding: 20px;
	}

	#main {
		height: 100vh;
	}

	#add-task-modal .modal-content,
	#add-category-modal .modal-content {
		width: 95%;
	}

	#categories-tab {
		height: fit-content;
		padding: 28px 20px;
	}

	#category-list {
		max-height: 180px;
		margin-top: 0;
	}
}

@media screen and (width: 768px) {
	#head {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	#main {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

@media screen and (min-width: 768px) {
	#navbar {
		padding: 20px 24px;
	}

	main#content {
		padding: 24px;
	}

	#welcome h1 {
		font-size: 32px;
	}

	#reminder {
		font-size: 22px;
	}

	#tracker {
		width: 250px;
		height: 250px;
	}

	#completed,
	#incomplete {
		font-size: 84px;
	}

	#add-task,
	.task-card {
		flex: 1 1 calc(50% - 12px);
		max-width: 50%;
	}

	label,
	#selected,
	.checkbox-wrapper-42 p,
	#priority-level-selection > p {
		font-size: 20px;
	}

	.checkbox-wrapper-42 .cbx {
		width: 20px;
		height: 20px;
	}

	#task-title,
	#task-description,
	#task-due-date,
	#selected p,
	.option {
		font-size: 18px;
	}

	#add-task-button {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	#welcome h1 {
		font-size: 48px;
	}

	#reminder {
		font-size: 28px;
	}
}

@media screen and (max-width: 992px) {
	#head {
		flex-direction: column;
	}

	#tracker {
		order: 1;
	}

	#welcome {
		order: 2;
		text-align: center;
	}

	/* #categories-tab {
		padding: 12px;
	} */

	#user-info {
		display: none;
	}

	#categories-wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1200px) {
	#navbar {
		padding: 20px 72px;
	}

	#welcome h1 {
		font-size: 56px;
	}

	#reminder {
		font-size: 32px;
	}

	#tracker {
		width: 325px;
		height: 325px;
	}

	#completed,
	#incomplete {
		font-size: 125px;
	}

	main#content {
		padding: 24px 72px;
	}

	#add-task,
	.task-card {
		flex: 1 1 calc(33% - 24px);
		max-width: 33%;
	}
}

@media screen and (width: 800px) and (max-height: 1280px) {
	main#content {
		height: calc(100vh - 120px);
	}
}
